{% extends "base.html" %}
{% macro chunk_row(chunk)%}
    <td>
        {{ '0x%X'|format(chunk[0]) }}
    </td>
    <td>
        {{ '0x%X'|format(chunk[0] + chunk[1]) }}
    </td>
    <td>
        {{ '%d'|format(chunk[1]) }}
    </td>
{% endmacro %}
{% block content %}
    <div class="row">
        <div class="mx-auto">
            <h1>Polydet</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input id="analyseFileInput"
                               class="custom-file-input"
                               type="file"
                               name="file[]"
                               multiple
                               required>
                        <label class="custom-file-label"
                               for="analyseFileInput">Choose file</label>
                    </div>
                </div>
                <div class="row">
                    <div class="mx-auto">
                        <input type="submit" value="Submit" class="btn btn-primary mb-2"/>
                    </div>
                </div>
            </form>
            {% for result in results %}
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div>
                            <p>
                                Scan results for the file {{ result.filename }}:
                                {% if result.is_dangerous %}
                                    <span class="text-danger">potentially dangerous</span>.
                                {% elif result.is_suspicious %}
                                    <span class="text-warning">suspicious</span>.
                                {% else %}
                                    <span class="text-success">benign</span>.
                                {% endif %}
                                <br/>
                                The scan took {{ '%0.4f'|format(result.elapsed_time * 1000) }} milliseconds.
                            </p>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td rowspan="2">Type</td>
                                <td colspan="3">Suspicious chunks</td>
                                <td rowspan="2">Found by <a href="{{ repository_url }}">Polydet</a></td>
                                <td rowspan="2">Found by <a href="https://github.com/file/file"><i>libmagic</i></a></td>
                                <td rowspan="2">Found by <a href="http://mark0.net/soft-trid-e.html">TrID</a></td>
                            </tr>
                            <tr>
                                <td>Begin</td>
                                <td>End</td>
                                <td>Length</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entry in result %}
                                <tr>
                                    <td rowspan="{{ [1, entry.level.suspicious_chunks|length]|max }}">.{{ entry.ext }}</td>
                                    {% if entry.level.suspicious_chunks %}
                                        {{ chunk_row(entry.level.suspicious_chunks[0]) }}
                                    {% else %}
                                        <td colspan="3"></td>
                                    {% endif %}
                                    <td rowspan="{{ [1, entry.level.suspicious_chunks|length]|max }}">
                                        <span class="text-success">&#x2714;</span>
                                    </td>
                                    <td rowspan="{{ [1, entry.level.suspicious_chunks|length]|max }}">
                                        {% if entry.ext in result.magic_scan_results %}
                                            <span class="text-success">&#x2714;</span>
                                        {% else %}
                                            <span class="text-danger">&#x1F5F6;</span>
                                        {% endif %}
                                    </td>
                                    <td rowspan="{{ [1, entry.level.suspicious_chunks|length]|max }}">
                                        {% if entry.ext in result.trid_scan_results %}
                                            <span class="text-success">&#x2714;: {{ result.trid_scan_results[entry.ext] }}%</span>
                                        {% else %}
                                            <span class="text-danger">&#x1F5F6;</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% for chunk in entry.level.suspicious_chunks[1:] %}
                                    <tr>
                                        {{ chunk_row(chunk) }}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
