{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="mx-auto">
	    <h1>Polyglot detector (name subject to change)</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input id="analyseFileInput"
                               class="custom-file-input"
                               type="file"
                               name="file"
                               required>
                        <label class="custom-file-label"
                               for="analyseFileInput">Choose file</label>
                    </div>
                </div>
                <div class="row">
                    <div class="mx-auto">
                        <input type="submit" value="Submit" class="btn btn-primary mb-2"/>
                    </div>
                </div>
            </form>
            {% if results %}
                <div>
                    <p>
                        Scan results for the file {{ results.filename }}:
                        {% if results.is_dangerous %}
                            <span class="text-danger">potentially dangerous</span>.
                        {% elif results.is_suspicious %}
                            <span class="text-warning">suspicious</span>.
                        {% else %}
                            <span class="text-success">benign</span>.
                        {% endif %}
                        <br/>
                    The scan took {{ '%0.4f'|format(results.elapsed_time * 1000) }} milliseconds.
                    </p>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Type</td>
                        <td>Suspicious attributes</td>
                        <td>Found by <a href="{{ repository_url }}">Polyglot detector (name subject to change)</a></td>
                        <td>Was found by <a href="https://github.com/file/file"><i>libmagic</i></a></td>
                        <td>Was found by <a href="http://mark0.net/soft-trid-e.html">TrID</a></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in results %}
                        <tr>
                            <td>{{ entry.ext }}</td>
                            <td>{{ entry.level|polyglot_level }}</td>
                            <td><span class="text-success">&#x2714;</span></td>
                            <td>
                                {% if entry.ext in results.magic_scan_results %}
                                    <span class="text-success">&#x2714;</span>
                                {% else %}
                                    <span class="text-danger">&#x1F5F6;</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if entry.ext in results.trid_scan_results %}
                                    <span class="text-success">&#x2714;: {{ results.trid_scan_results[entry.ext] }}%</span>
                                {% else %}
                                    <span class="text-danger">&#x1F5F6;</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
