{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="mx-auto">
            <h1>Polydet</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input id="analyseFileInput"
                               class="custom-file-input"
                               type="file"
                               name="file[]"
                               multiple
                               required>
                        <label class="custom-file-label"
                               for="analyseFileInput">Choose file</label>
                    </div>
                </div>
                <div class="row">
                    <div class="mx-auto">
                        <input type="submit" value="Submit" class="btn btn-primary mb-2"/>
                    </div>
                </div>
            </form>
            {% for result in results %}
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div>
                            <p>
                                Scan results for the file {{ result.filename }}:
                                {% if result.is_dangerous %}
                                    <span class="text-danger">potentially dangerous</span>.
                                {% elif result.is_suspicious %}
                                    <span class="text-warning">suspicious</span>.
                                {% else %}
                                    <span class="text-success">benign</span>.
                                {% endif %}
                                <br/>
                                The scan took {{ '%0.4f'|format(result.elapsed_time * 1000) }} milliseconds.
                            </p>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <td>Type</td>
                                <td>Suspicious attributes</td>
                                <td>Found by <a href="{{ repository_url }}">Polydet</a></td>
                                <td>Found by <a href="https://github.com/file/file"><i>libmagic</i></a></td>
                                <td>Found by <a href="http://mark0.net/soft-trid-e.html">TrID</a></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entry in result %}
                                <tr>
                                    <td>.{{ entry.ext }}</td>
                                    <td>
                                        <ul>
                                        {% if not entry.level.is_valid %}
                                            <li>Invalid</li>
                                        {% endif %}

                                        {% if entry.level.suspicious_chunks %}
                                            <li>Suspicious chunks:
                                                <ul class="chunks-list">
                                                    {% for chunk in entry.level.suspicious_chunks %}
                                                        <li>{{ '0x%X + %d'|format(chunk[0], chunk[1]) }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                        </ul>
                                    </td>
                                    <td><span class="text-success">&#x2714;</span></td>
                                    <td>
                                        {% if entry.ext in result.magic_scan_results %}
                                            <span class="text-success">&#x2714;</span>
                                        {% else %}
                                            <span class="text-danger">&#x1F5F6;</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if entry.ext in result.trid_scan_results %}
                                            <span class="text-success">&#x2714;: {{ result.trid_scan_results[entry.ext] }}%</span>
                                        {% else %}
                                            <span class="text-danger">&#x1F5F6;</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
